.ncf-container {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    position: fixed;
    z-index: 999999;
    margin-top: 50px;
    margin-right: 15px;
}
.ncf-container.nfc-top-left {
    top: 12px;
    left: 12px;
}
.ncf-container.nfc-top-right {
    top: 12px;
    right: 12px;
}
.ncf-container.nfc-bottom-right {
    bottom: 12px;
    right: 12px;
}
.ncf-container.nfc-bottom-left {
    bottom: 12px;
    left: 12px;
}
@media (max-width: 767px) {
    .ncf-container {
    left: 0;
    right: 0;
}
}.ncf-container .ncf {
    background: #fff;
    transition: 0.3s ease;
    position: relative;
    pointer-events: auto;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 30px;
    width: 320px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 12px #999;
    color: #000;
    opacity: 0.9;
    -ms-filter:  progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    filter:  alpha(opacity=90);
    background-position: 15px !important;
    background-repeat: no-repeat !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ncf-container .ncf:hover {
    box-shadow: 0 0 12px #000;
    opacity: 1;
    cursor: pointer;
}
.ncf-container .ncf .ncf-title {
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 6px;
    word-wrap: break-word;
}
.ncf-container .ncf .nfc-message {
    margin: 0;
    text-align: left;
    word-wrap: break-word;
}