
/* responsive: small */
@media only screen and (max-width: 800px){
    #navbar {
      display:block;
      width: 100%;
      border-top: 1px solid dimgray;
      position: absolute;
      margin-top: 45px;
      float:left;
      padding-left: 0px;
      visibility: hidden;
      color: black;
    }
    #navbar ul li {
      display: block;
    }
    #navbar ul li:hover ul {
      width: 100%;
      position: relative;
    }
    .wosaMenu .wosa-logo{
      line-height: 1;
      float:left; 
    }
    #navbar ul{
      background-color: lightgray;
      line-height: 1;
      display: block;
    }
    #navbar li {
      border-bottom: 1px solid dimgray;
    }
    #navbar li a {
      color: #000;
      display: inline-block;
    }
  }
  /* responsive: big */
  @media only screen and (min-width: 800px) {
    .wosaMenu .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .wosaMenu .menu-icon {
      display: none;
    }
  }