* {
    box-sizing: border-box;
  }
  html, body {
    font-family: Verdana,sans-serif;
    margin:0;
    padding:0;
  }
  #container {
     min-height:100%;
     position:relative;

  }
  a {
    color:#3E0BF9;
  }
  a:hover {
    color: darkorange;
  }
  a:active {
    color:darkorange;
  }
  a:visited {
    color:#3E0BF9;
  }
  .wosaTitle {
    background-color: NavajoWhite;
    background-color: rgb(255,175,88);
    border-bottom:4px solid darkorange;
    display: block;
    margin:0px;
    padding: 18px 10px;
    padding-bottom: 2px;
    text-align:center; color:black;
  }
  .wosaIntro {
    padding-top: 0px;
    margin-top: -10px;
    padding-bottom: 0px;
    margin-bottom: -5px;
    font-size: 14px;
  }
  .wosaIntro h2 {
    text-align: right !important;
    padding-top: -10px;
    font-size: 14px;
    margin-top: 0px;
    color: white;
  }
  .wosaIntro p {
    text-align: left;
    margin-left: 3%;
    margin-right: 3%;
  }
  .circle-image {
    background-color: rgb(255,175,88);
    border: 1px solid white;
    -webkit-border-radius: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
  }
  footer {
    position: fixed;
    padding: 10px 10px 10px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    min-height:40px;   /* Height of the footer */
    background-color: NavajoWhite;
    background-color: rgb(255,175,88);
    border-top:4px solid darkorange;
    text-align:center; color:black;
    color: white;
    font-size: 10px;
}
  h3 {
    margin-top:30px;
  }
  .table {
    border:0px; 
    margin-top:3%;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    display: flex;
    justify-content: center;
    height: 350px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    font-size: smaller;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 730px) {
    .column {
      width: 100%;
      font-size: 12px;
    }
  }
