body { 
    background-color:#101110;
    font-family: Verdana,sans-serif;
    color: white;
    background-image: url('./background-glow.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}
#container {
    margin: auto;
    width: 60%;
}
a {
    color: lavender;
    text-decoration:none;
}
.column {
    float: left;
    font-size: smaller;
}
.left {
    width: 35%;
    padding-top: 25px;
    margin-left: -60px;
}
.right {
    justify-content: center;
    width: 65%;
}
.hero {
    width: 700px;
    margin-left: 15px;
}
#billboard-text,
.hero {
    -webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.billboard-dots {
    clear: both;
    text-align: center;
    padding-top: 10px;
}
.billboard-dot {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 0 4px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: dimgray;
    cursor: pointer;
}
.billboard-dot.active {
    background-color: white;
}
.prod-name {
    color: white;
    font-size: 2.6em;
    line-height: 1.1em;
    position: relative;
    margin-top: 20px;
}
.short-desc {
    color: white;
    font-size: 1.6em;
    font-style: italic;
    line-height: 1.6em;
    position: relative;
}
.long-desc {
    color: white;
    font-size: 1.1em;
    line-height: 1.7em;
    position: relative;
    color: dimgray;
    margin-top: 10px;
}
.links {
    text-align: center;
    margin:auto;
    margin-top:20px;
    width:100%;
    height:75px;
    background-image: url('./home-navigation-dark.png');
    clear: both;
}
.links a {
    border: 0;
}

/* Responsive layout */
@media screen and (max-width: 1124px) {
    .hero {
        width:500px;
    }
}
@media screen and (max-width: 1023px) {
    #container {
        margin-top: -20px;
    }
    .column {
        width: 100%;
        font-size: 12px;
    }
    .prod-name {
        margin-top:-20px !important;
    }
    .right {
        text-align: center;
    }
    .hero {
        margin-left: 0;
    }
}
@media screen and (max-width: 600px) {
    .hero {
        width:340px;
    }
    .links {
        height: 50px;
    }
    .links img {
        height:50px;
    }
}
@media screen and (max-width: 400px) {
    .prod-name {
        font-size: 2.4em;
    }
    .hero {
        width:240px;
    }
    .links {
        height: 44px;
    }
    .links img {
        height:44px;
    }
    #container {
        margin-top: -40px;
    }
    .left {
        margin-left: -30px !important;
        min-height: 150px
    }
}
footer {
    margin: auto;
    padding-top: 50px;
    width: 90%;
    min-height:40px;   /* Height of the footer */
    text-align:center; 
    color:dimgray;
    font-size: 0.7em;
}